*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background-color: #FBEAEB;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    width: 33vw;
}
.placar{
    display: flex;
    justify-content: space-between;
}
.placar img{
    height: 50px;
}
.pontuacaoX, .pontuacaoO{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.pontuacaoO{
    flex-direction: row-reverse;
}
p{
    font-size: 2rem;
}
.pontuacaoX p, .pontuacaoO p{
    padding: .5rem 1rem;
    border-radius: 1rem;
    font-weight: 300;
    font-size: 2rem;
    color: #FBEAEB;
    background-color: #2F3C7E;
}
.jogo-da-velha{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}
.jogo-da-velha img{
    opacity: 0;
}
.jogo-da-velha img:hover{
    opacity: .5;
}
.linha{
    display: flex;
    width: 100%;
    gap: 1rem;
}
.casa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    aspect-ratio: 1 / 1;
    width: 30%;
    border-radius: 1rem;
    cursor: pointer;
    background-color: #2F3C7E;
}
.reset-button{
    padding: .5rem 1rem;
    border: none;
    outline: none;
    font-size: 28px;
    letter-spacing: .5rem;
    border: 2px solid #2F3C7E;
    border-radius: 1rem;
    background-color: #FBEAEB;
    color: #2F3C7E;
    cursor: pointer;
    transition: transform .1s;
}
.reset-button:active{
    transform: translateY(5px);
}
img{
    user-select: none;
    -webkit-user-drag: none;
}

@media only screen and (max-width: 1280px){
    .container{
        width: 90vw;
    }
}