*,*::after,*::before{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --clr-primary: #fbf9fe;
    --clr-secondary: #1f2f40;
    --clr-colorX: #812eb6;
    --clr-colorO: #98979e;
}
body{
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--clr-primary);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 33vw;
}
.placar{
    display: flex;
    justify-content: space-between;
}
.placar section{
    padding: 1rem;
    border-radius: 1rem;
    width: 30%;
}
.pontuacaoX{
    color: var(--clr-primary);
    background-color: var(--clr-colorX);
}
.pontuacaoO{
    color: var(--clr-primary);
    background-color: var(--clr-colorO);
}

.velhas{
    color: var(--clr-secondary);
    border: 2px solid var(--clr-secondary);
}

.placar p,.placar h1{
    text-align: center;
}

.jogo-da-velha{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
.jogo-da-velha img{
    opacity: 0;
}
.jogo-da-velha img:hover{
    opacity: .5;
}
img{
    user-select: none;
    -webkit-user-drag: none;
}
.linha{
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 1rem;
}
.casa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    aspect-ratio: 1 / 1;
    width: 30%;
    border-radius: 1rem;
    cursor: pointer;
    background-color: var(--clr-secondary);
}
.reset-button{
    padding: .5rem 1rem; 
    font-size: 28px;
    letter-spacing: .5rem;
    border: 2px solid var(--clr-secondary);
    border-radius: 1rem;
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    cursor: pointer;
    transition: all .1s;
}
.reset-button:active{
    transform: translateY(5px);
}
@media only screen and (max-width: 1280px){
    .container{
        width: 90vw;
    }
}